.resume {
    background: rgba(40, 40, 40, 0.9);
    height: 100vh;
}

.resumeContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.resumeTitle {
    font-size: 48px;
    line-height: 60px;
    color: #fff;
    font-weight: 300;
    margin-bottom: 33px;
}

.basicBlock {
    padding-bottom: 15px;
}

.underTitle {
    color: #fff;

}

.infoOfCompany {
    color: #fff;
}

.greenSpan {
    color: #28e98c;
}
@media (max-width:584px) {
    .resumeTitle {
        font-size: 38px;
        line-height: 1.4;
    }
    .resume {
        height: 110vh;
    }
}