.resume {
    background-color: #1f1f1f;
    height: 100vh;
}

.resumeContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.resumeTitle {
    background-color: #1f1f1f;
    font-size: 48px;
    line-height: 60px;
    color: #fff;
    font-weight: 300;
    margin-bottom: 33px;
}

.basicBlock {
    padding-bottom: 15px;
}

.underTitle {
    color: #fff;

}

.infoOfCompany {
    color: #fff;
}

.greenSpan {
    color: #28e98c;
}