.contact {
    height: 85vh;
    background: rgba(40, 40, 40, 0.9);

}

.contactContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.contactTitle {
    font-size: 48px;
    line-height: 60px;
    color: #fff;
    font-weight: 300;
    margin-bottom: 33px;
}

.basicBlock {
    padding-bottom: 15px;
    display: flex;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 2px;
    flex-direction: column;
    align-items: stretch;
}

@media (max-width: 584px) {
    .contactTitle {
        font-size: 38px;
        line-height: 1.4;
    }
}

.greenSpan {
    color: #28e98c;
}

.inputForm {
    opacity: 50%;
}
.button {
    margin: 20px;
    text-align: center;
    padding: 11px 58px 10px 58px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    justify-content: center;
    text-transform: uppercase;
}