.about {
    height: 70vh;
    background: rgba(40, 40, 40, 0.9);
}

.aboutContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    color: #fff;
    font-size: 48px;
    line-height: 60px;
    font-weight: 300;
    margin: 15px;
}

.text {
    padding: 20px;
    color: #999999;

}

.greenSpan {
    color: #28e98c;
}
@media (max-width:584px) {
    .title {
        font-size: 38px;
        line-height: 1.4;
    }
}