.skillsBlock {
    background-color: #1f1f1f;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
}
.title {
    background-color: #1f1f1f;
    font-size: 48px;
    line-height: 60px;
    color: #fff;
    font-weight: 300;
    margin-bottom: 33px;
}

.skills {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 10px;
}
.greenSpan {
    color: #28e98c;
}