.skillsBlock {
    background: rgba(40, 40, 40, 0.9);
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
}
.title {
    font-size: 48px;
    line-height: 60px;
    color: #fff;
    font-weight: 300;
    margin-bottom: 33px;
}

.skills {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 10px;
}
.greenSpan {
    color: #28e98c;
}
@media (max-width:584px) {
    .title {
        font-size: 38px;
        line-height: 1.4;
    }
}