.skillsBlock {
    height: 100vh;
    background-color: #8baabc;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
}
.title {
    background-color: #bca99f;
}

.skills {
    border: 1px solid;
    width: 100%;
}